# Database Configuration
DB_USERNAME=your username db here
DB_PASSWORD=your password db here

# JWT Configuration (GANTI JWT_SECRET DENGAN STRING ACAK DAN PANJANG!)
JWT_SECRET=your secret here
JWT_EXPIRATION_MS=

# Admin Seed Configuration (Opsional)
SEED_ADMIN_ENABLED=true
SEED_ADMIN_NAME=your admin name here
SEED_ADMIN_EMAIL=your email here
SEED_ADMIN_PASSWORD=your_password_here